<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{data['title']}}华北电力大学动力系实验管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #f4f3f4;
            font-family: "Noto Sans SC",Roboto,sans-serif;
            -webkit-font-smoothing: antialiased;
            letter-spacing: .05em;
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>

    <div id="app"></div>
    <script src='{{ static_url("vendors/jquery.min.js") }}'></script>
    <script src='{{ static_url("vendors/materialize.min.js") }}'></script>
    <!-- <script type="text/javascript" src="{{ static_url('common.bundle.js') }}"></script> -->
    <script type="text/javascript" src="{{ static_url('app.min.js') }}"></script>
</body>
</html>
